#!/bin/sh
ip addr add 10.191.254.86/24 broadcast 10.191.255.255 dev $INTERFACE
ip link set $INTERFACE up
ip rule add iif $INTERFACE table stuttgart priority 7000
ip route add 10.191.254.0/24 dev $INTERFACE table stuttgart
ip addr add fd21:b4dc:4b00::a39:0806/40 dev $INTERFACE
ip route add fd21:b4dc:4b00::/40 dev $INTERFACE table stuttgart
